<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="./styles.css"></style>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="effectClass"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['border', 'rounded', 'shrink']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="userClass">
    <div :class="[userClass, 'shrink']">aaa</div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="userClass">
    <input type="text" v-model="isVisible">
    <div :class="[userClass, {hide: !isVisible}]"> schovavacka </div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="myStyle.backgroundColor">
    <div :class="['shrink']" :style="myStyle">bbb</div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div :class="['progress-bar']" :style="progressBar"></div>
  </div>
</div>


<script type="text/javascript">
new Vue({
  el: '#exercise',
  data: {
    userClass: 'green',
    isVisible: true,
    effectClass: {
      highlight: true,
      shrink: false
    },
    myStyle: {
      width: '100px',
      height: '100px',
      backgroundColor: 'gray'
    },
    progressBar: {
      width: '0px',
      backgroundColor: 'pink'
   }
  },
  methods: {
    startEffect: function() {
      vu = this;
      setInterval( function() {
        vu.effectClass.highlight = !vu.effectClass.highlight;
        vu.effectClass.shrink = !vu.effectClass.shrink;
      }, 2000);
    },
    startProgress: function() {
      vu = this;
      var width = 0;
      setInterval( function() {
        width = width + 10;
        vu.progressBar.width = width + 'px';
      }, 100);
    }
  }
});
</script>
